@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

.hide-scroll {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.service-card:hover {
  background-color: #fff;
  color: #113953;
}

.service-card:hover svg path {
  fill: #113953;
}

.service-card:hover .stroke-svg path {
  stroke: #113953;
  fill: transparent;
}

.service-card:hover .hidden-text {
  display: block;
}

.service-card:hover .toggle-arrow {
  display: none;
}

@media screen and (min-width: 768px) {
  .service-card:hover h2 {
    display: none;
  }
}

.white-check path {
  stroke: #f2f2f2;
}

.team-member:hover .on-hover {
  display: flex;
}