
/*ABOUT-----------------------*/
.about-link {
    position: relative;
    top: -400%;
    left: 19.5%;
}  

#about {
    width: 40%;
    zoom: 1;
   
}

.about-card {
    background: white;
    position: relative;
    left: 33%;
    top: 800px;

        h1 {
    font-family: 'Abril Fatface', cursive;
    padding-top: 10px;
    }
        .about-description {
    position: relative; 
    top: 9%;
    padding-left: 5%;
    line-height: 1.6;
    font-family: 'Peddana', serif;
    font-size: 16px;
    margin: 0px 5% 0px 5%;
   color: black;
    }
}



