
 
/*FOOTER-------------------*/

footer {
   position: relative;
   top: 550px;
   right: 30%;
  background: #1a2d4e;
  color: #aaa;
  padding: 1% 0 1% 0;
  width: 190% !important; 
}


.copyright-text {
    color: white;
    padding: 0% 0 0% 40%;
}

footer .copyright span, .copyright {
  color: #ffffff;
}


/* Hide signin page for user*/
.signin {
    display: none;
}

 