



 



/* Site Maintenance Toast*/
.toast-div {
    position: relative;
    min-height: 200px;
}
.toast {
    position: absolute; 
    top: 0; 
    left: 110%;
    width: 100%;
    z-index: 1;
}

/*HOME-----------------------*/






#more-chevron {
    position: relative;
    top: 10px;
    right: -52%;
    zoom: .9;
    z-index: 10;
}

.fa-chevron-down {
    color: black !important;
}

.services-test {
  display: inline-block;
  padding-top: 160%;
    position: absolute;
    bottom: .1%;
    left: 46.5%;
}

#see {
    position: relative;
    right: 73px;
    bottom: 14%;
    width: 116px;
    font-size: 30px;
    font-family: 'Lora', serif !important;
    color: black;
}
#see-id {
    position: relative;
    right: 53%;
}

.ml7 {
  position: relative;
  font-weight: 900;
  font-size: 3.7em;
}
.ml7 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}
.ml7 .letter {
  transform-origin: 0 100%;
  display: inline-block;
  line-height: 1em;
}

#august-2 {
    font-family: 'Playfair Display', serif !important;
    font-size: 80px;
    color: white !important;
   z-index: 1000;
}
.august-1 {
    position: relative !important;
     bottom: -90px !important;
     left: 24% !important;
}

.august-3 {
    position: relative !important;
    bottom: -220px !important;
    right: 25% !important;
}

#august-4 {
   font-family: 'Playfair Display', serif !important;
   color: white;
   font-size: 30px !important;

}
.title-col {
    position: relative;
    left: 4%;
    z-index: 1;
}


.see-col {
   position: relative ;
   top: 190px;

}
