/*SERVICES-------------------*/

#services .col-md-4 .services-content .ion-android-phone-portrait,
#services .col-md-4 .services-content,
#ion-icon-globe, #ion-icon-desktop, #ion-icon-people,
#services .col-md-4 .services-content .ion-android-checkbox-outline,
#services .col-md-4 .services-content .ion-paintbrush,
#services .col-md-4 .services-content .ion-edit, #services-1 {
    font-size: 4em;
    display: inline-block;
    color: #00a4b8;
}

#services {
    position: relative;
    top: 700px;
    left: 8%;
    width: 100%;
    font-family: 'Lora', serif;
    z-index: 1;
}

#services-1-description, #services-2-description {
    font-size: 14px;
}
div.services-content {
    padding-left: 20px;
}
     
h3, h4 {
    color: black;
}
h1.services-text {
    padding-left: 60%;
}

#services-row {
    position: relative;
    bottom: 150px;
}

.services-text {
    position: relative;
    right: 36.5%;
    color: white !important;
    font-size: 60px; 
    z-index: 1;
}







#web-text {
    position: relative;
    top: 12px;
    font-family: 'Abril Fatface', cursive;
    font-size: 24px;
}

#services-1-description {
    position: relative;
    top: 20px;
    line-height: 150%;
    font-size: 15px;
}







#wordpress {
    position: relative;
    top: 12px;
    font-family: 'Abril Fatface', cursive;
    font-size: 24px;
}

#services-2-description {
    position: relative;
    top: 20px;
    line-height: 150%;
    font-size: 15px;
}


.consulting-col{
    position: relative;
    bottom: 570px;
    left: 66%;
}



.consulting-title {
    position: relative;
    top: 12px;
    font-family: 'Abril Fatface', cursive;
    font-size: 24px;
}

#services-3-description {
   position: relative;
    top: 20px;
    line-height: 150%;
    font-size: 15px;
}
#about-chevron {
    position: relative;
    bottom: 170px;
    left: 34%;
    width: 40%;
    height: 120px;
    z-index: 1;
}

.web-card {
    background: white;
    position: relative;
    bottom: 90px;
    height: 280px;
}

.wordpress-card {
    background: white;
    position: relative;
    bottom: 380px;
    left: 30%;
    height: 280px;
}

.consulting-card {
    background: white;
    position: relative;
    bottom: 670px;
    left: 60%;
    height: 280px;
}
