$body-bg: #000;

@import 'bootstrap/dist/css/bootstrap.css';
@import '~react-pro-sidebar/dist/scss/styles.scss';
// Put any other imports below so that CSS from your
// components takes precedence over default styles.

#video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}